.header {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.header > h3, h5 {
    margin: 0;
    padding-top: 20px;
    text-align: center;
}

/* Include any custom CSS styling here! */


.controls {
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align:center;
}

.tooltip {
    position: absolute;
    }

.row {
    text-align: left;
    max-width: 1440px;
    margin-left: 10px;
    margin-right: 10px;
}

